@model IndirimKuponum.Models.Indirimler

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@inject LanguageServices language

<h1>@language.Getkey("YeniIndirimEkle")</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Baslik" class="control-label">@language.Getkey("Baslik")</label>
                <input asp-for="Baslik" class="form-control" />
                <span asp-validation-for="Baslik" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Resim" class="control-label">@language.Getkey("Resim")</label>
                <input asp-for="Resim" class="form-control" />
                <span asp-validation-for="Resim" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Aciklama" class="control-label">@language.Getkey("Aciklama")</label>
                <input asp-for="Aciklama" class="form-control" />
                <span asp-validation-for="Aciklama" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Icerik" class="control-label">@language.Getkey("Icerik")</label>
                <input asp-for="Icerik" class="form-control" />
                <span asp-validation-for="Icerik" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label asp-for="KategoriId" class="control-label">@language.Getkey("KategoriId")</label>
                <select asp-for="KategoriId" class="form-control" asp-items="ViewBag.KategoriId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Kaydet" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">@language.Getkey("ListeyeDon")</a>
</div>

